/* screen - home-page-about-hover */

.home-page-about-hover {
  background-color: #ffffff;
  height: 2122px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.home-page-about-hover .header-C61RwL {
  --z-index: 0;
  background-color: transparent;
  height: 762px;
  left: -245px;
  opacity: 1;
  position: absolute;
  top: -87px;
  width: 1925px;
}

.home-page-about-hover .rectangle-47-IcPKRJ {
  --z-index: 0;
  background-color: #000000;
  height: 692px;
  left: 221px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 70px;
  width: 1489px;
}

.home-page-about-hover .ellipse-10-IcPKRJ {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/ellipse-10-2@2x.svg);
  background-size: 100% 100%;
  height: 132px;
  left: 1189px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 556px;
  width: 154px;
}

.home-page-about-hover .ellipse-13-IcPKRJ {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/ellipse-13-1@2x.svg);
  background-size: 100% 100%;
  height: 29px;
  left: 932px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 638px;
  width: 33px;
}

.home-page-about-hover .hellomy-name-is-randal-IcPKRJ {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/hello--my-name-is-randal--1@2x.svg);
  background-size: 100% 100%;
  height: 44px;
  left: 925px;
  opacity: 1;
  position: absolute;
  top: 273px;
  width: 621px;
}

.home-page-about-hover .ellipse-7-IcPKRJ {
  --z-index: 4;
  background-color: transparent;
  background-image: url(../img/ellipse-7-1@2x.svg);
  background-size: 100% 100%;
  height: 58px;
  left: 802px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 137px;
  width: 62px;
}

.home-page-about-hover .ellipse-9-IcPKRJ {
  --z-index: 5;
  background-color: transparent;
  background-image: url(../img/ellipse-9-1@2x.svg);
  background-size: 100% 100%;
  height: 90px;
  left: 651px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 558px;
  width: 98px;
}

.home-page-about-hover .ellipse-11-IcPKRJ {
  --z-index: 6;
  background-color: transparent;
  background-image: url(../img/ellipse-11-2@2x.svg);
  background-size: 100% 100%;
  height: 46px;
  left: 1389px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 102px;
  width: 46px;
}

.home-page-about-hover .ellipse-16-IcPKRJ {
  --z-index: 7;
  background-color: transparent;
  background-image: url(../img/ellipse-16-1@2x.svg);
  background-size: 100% 100%;
  height: 46px;
  left: 903px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 653px;
  width: 46px;
}

.home-page-about-hover .union-IcPKRJ {
  --z-index: 8;
  background-color: transparent;
  background-image: url(../img/union-7@1x.svg);
  background-size: 100% 100%;
  height: 603px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 142px;
  width: 422px;
}

.home-page-about-hover .union-wRlxz0 {
  --z-index: 9;
  background-color: transparent;
  background-image: url(../img/union-8@1x.svg);
  background-size: 100% 100%;
  height: 606px;
  left: 421px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 93px;
  width: 1486px;
}

.home-page-about-hover .avatar-IcPKRJ {
  --z-index: 10;
  background-color: transparent;
  height: 308px;
  left: 286px;
  opacity: 1;
  position: absolute;
  top: 279px;
  width: 519px;
}

.home-page-about-hover .rectangle-17-MgItu4 {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/rectangle-17-1@2x.svg);
  background-size: 100% 100%;
  height: 309px;
  left: 227px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 250px;
}

.home-page-about-hover .rectangle-18-MgItu4 {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/rectangle-18-1@2x.svg);
  background-size: 100% 100%;
  height: 71px;
  left: 144px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 174px;
  width: 73px;
}

.home-page-about-hover .union-MgItu4 {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/union-9@2x.svg);
  background-size: 100% 100%;
  height: 123px;
  left: 161px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 185px;
  width: 362px;
}

.home-page-about-hover .rectangle-9-MgItu4 {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/rectangle-9-2@2x.svg);
  background-size: 100% 100%;
  height: 30px;
  left: 269px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 155px;
  width: 80px;
}

.home-page-about-hover .rectangle-12-MgItu4 {
  --z-index: 4;
  background-color: transparent;
  background-image: url(../img/rectangle-12-2@2x.svg);
  background-size: 100% 100%;
  height: 31px;
  left: 358px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 155px;
  width: 87px;
}

.home-page-about-hover .rectangle-4-MgItu4 {
  --z-index: 5;
  background-color: #141414;
  border-radius: 45px;
  height: 89px;
  left: 285px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 30px;
  transform: rotate(171.12deg);
  width: 32px;
}

.home-page-about-hover .rectangle-14-MgItu4 {
  --z-index: 6;
  background-color: #141414;
  border-radius: 45px;
  height: 89px;
  left: 393px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 30px;
  transform: rotate(-172.00deg);
  width: 32px;
}

.home-page-about-hover .rectangle-1-MgItu4 {
  --z-index: 7;
  background-color: #ffffff;
  height: 32px;
  left: 310px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 59px;
  transform: rotate(-9.14deg);
  width: 3px;
}

.home-page-about-hover .rectangle-15-MgItu4 {
  --z-index: 8;
  background-color: #ffffff;
  height: 32px;
  left: 419px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 59px;
  transform: rotate(9.58deg);
  width: 3px;
}

.home-page-about-hover .rectangle-5-MgItu4 {
  --z-index: 9;
  background-color: #8d8c8c;
  height: 35px;
  left: 351px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 122px;
  transform: rotate(-89.92deg);
  width: 5px;
}

.home-page-about-hover .rectangle-6-MgItu4 {
  --z-index: 10;
  background-color: transparent;
  background-image: url(../img/rectangle-6@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 331px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 192px;
  width: 46px;
}

.home-page-about-hover .ellipse-2-MgItu4 {
  --z-index: 11;
  background-color: #ffffff;
  border-radius: 3.23px/6.82px;
  height: 14px;
  left: 420px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 41px;
  transform: rotate(6.97deg);
  width: 6px;
}

.home-page-about-hover .ellipse-1-MgItu4 {
  --z-index: 12;
  background-color: #ffffff;
  border-radius: 3.26px/6.76px;
  height: 14px;
  left: 303px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 41px;
  transform: rotate(-20.18deg);
  width: 7px;
}

.home-page-about-hover .x12-1-MgItu4 {
  --z-index: 13;
  background-color: transparent;
  background-image: url(../img/12-1@2x.png);
  background-size: 100% 100%;
  height: 214px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  width: 236px;
}

.home-page-about-hover .ellipse-8-IcPKRJ {
  --z-index: 11;
  background-color: transparent;
  background-image: url(../img/ellipse-8-2@2x.svg);
  background-size: 100% 100%;
  height: 137px;
  left: 1031px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 154px;
}

.home-page-about-hover .randal-reiner-IcPKRJ {
  --z-index: 12;
  background-color: transparent;
  background-image: url(../img/randal-reiner-1@2x.svg);
  background-size: 100% 100%;
  height: 33px;
  left: 496px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 126px;
  width: 219px;
}

.home-page-about-hover .work-IcPKRJ {
  --z-index: 13;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Lemonada', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1158px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 110px;
  width: 102px;
}

.home-page-about-hover .about-IcPKRJ {
  --z-index: 14;
  background-color: transparent;
  color: #00c1ff;
  cursor: pointer;
  font-family: 'Lemonada', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1268px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 110px;
  width: 113px;
}

.home-page-about-hover .about-wRlxz0 {
  --z-index: 15;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Bevan', Helvetica;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1132px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 195px;
  width: 113px;
}

.home-page-about-hover .about-94d7NV {
  --z-index: 16;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Bevan', Helvetica;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 865px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 270px;
  width: 113px;
}

.home-page-about-hover .place-IcPKRJ {
  --z-index: 17;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Lemonada', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1389px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 110px;
  width: 145px;
}

.home-page-about-hover .art-IcPKRJ {
  --z-index: 18;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Lemonada', Helvetica;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1542px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 109px;
  width: 63px;
}

.home-page-about-hover .resume-button-IcPKRJ {
  --z-index: 19;
  background-color: transparent;
  height: 64px;
  left: 1428px;
  opacity: 1;
  position: absolute;
  top: 610px;
  width: 150px;
}

.home-page-about-hover .rectangle-40-qvYB7v {
  --z-index: 0;
  background-color: #00c1ff;
  border-radius: 72px;
  height: 64px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 148px;
}

.home-page-about-hover .resume-qvYB7v {
  --z-index: 1;
  background-color: transparent;
  color: #000000;
  font-family: 'Nunito', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 15px;
  width: 100px;
}

.home-page-about-hover .socials-IcPKRJ {
  --z-index: 20;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Nunito', Helvetica;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 408px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 616px;
  width: 83px;
}

.home-page-about-hover .vector-IcPKRJ {
  --z-index: 21;
  background-color: transparent;
  background-image: url(../img/vector@2x.svg);
  background-size: 100% 100%;
  height: 64px;
  left: 295px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 661px;
  width: 64px;
}

.home-page-about-hover .group-IcPKRJ {
  --z-index: 22;
  background-color: transparent;
  background-image: url(../img/group@2x.svg);
  background-size: 100% 100%;
  height: 65px;
  left: 408px;
  opacity: 1;
  position: absolute;
  top: 656px;
  width: 63px;
}

.home-page-about-hover .group-wRlxz0 {
  --z-index: 23;
  background-color: transparent;
  background-image: url(../img/group-2@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 521px;
  opacity: 1;
  position: absolute;
  top: 673px;
  width: 50px;
}

.home-page-about-hover .i-am-a-junior-uxui-C61RwL {
  --z-index: 1;
  background-color: transparent;
  color: transparent;
  font-family: 'Nunito', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 616px;
  letter-spacing: 0.00px;
  line-height: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 224px;
  width: 614px;
}

.home-page-about-hover .span0-R7NXKC {
  color: #ffffff;
  font-style: normal;
}

.home-page-about-hover .span1-R7NXKC {
  color: #ffffff;
  font-size: 25px;
  font-style: normal;
}

.home-page-about-hover .span2-R7NXKC {
  color: #65fd58;
  font-size: 25px;
  font-style: normal;
}

.home-page-about-hover .span3-R7NXKC {
  color: #65fd58;
  font-size: 35px;
  font-style: normal;
}

.home-page-about-hover .span4-R7NXKC {
  color: #ffffff;
  font-style: normal;
}

.home-page-about-hover .span5-R7NXKC {
  color: #65fd58;
  font-size: 35px;
  font-style: normal;
}

.home-page-about-hover .span6-R7NXKC {
  color: #65fd58;
  font-size: 25px;
  font-style: normal;
}

.home-page-about-hover .span7-R7NXKC {
  color: #ffffff;
  font-size: 25px;
  font-style: normal;
}

.home-page-about-hover .span8-R7NXKC {
  color: #ffffff;
  font-style: normal;
}

.home-page-about-hover .more-C61RwL {
  --z-index: 2;
  background-color: transparent;
  color: #0acbe0;
  font-family: 'Nunito', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 695px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 374px;
  width: 84px;
}

.home-page-about-hover .footer-C61RwL {
  --z-index: 3;
  background-color: transparent;
  height: 554px;
  left: -184px;
  opacity: 1;
  position: absolute;
  top: 1715px;
  width: 1845px;
}

.home-page-about-hover .rectangle-35-iPe1yZ {
  --z-index: 0;
  background-color: #000000;
  height: 409px;
  left: 183px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.home-page-about-hover .group-iPe1yZ {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/group-2@2x.svg);
  background-size: 100% 100%;
  height: 65px;
  left: 808px;
  opacity: 1;
  position: absolute;
  top: 290px;
  width: 63px;
}

.home-page-about-hover .ellipse-11-iPe1yZ {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/ellipse-11-3@2x.svg);
  background-size: 100% 100%;
  height: 90px;
  left: 1043px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 368px;
  width: 98px;
}

.home-page-about-hover .ellipse-14-iPe1yZ {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/ellipse-14-1@2x.svg);
  background-size: 100% 100%;
  height: 90px;
  left: 1062px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 3px;
  width: 98px;
}

.home-page-about-hover .union-iPe1yZ {
  --z-index: 4;
  background-color: transparent;
  background-image: url(../img/union-10@1x.svg);
  background-size: 100% 100%;
  height: 423px;
  left: 342px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 3px;
  width: 607px;
}

.home-page-about-hover .resume-iPe1yZ {
  --z-index: 5;
  background-color: transparent;
  color: #00c1ff;
  font-family: 'Bevan', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 343px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 113px;
  width: 148px;
}

.home-page-about-hover .place-iPe1yZ {
  --z-index: 6;
  background-color: transparent;
  color: #00c1ff;
  font-family: 'Bevan', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 676px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 113px;
  width: 142px;
}

.home-page-about-hover .about-iPe1yZ {
  --z-index: 7;
  background-color: transparent;
  color: #00c1ff;
  font-family: 'Bevan', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1033px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 117px;
  width: 108px;
}

.home-page-about-hover .art-iPe1yZ {
  --z-index: 8;
  background-color: transparent;
  color: #00c1ff;
  font-family: 'Bevan', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1487px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 113px;
  width: 70px;
}

.home-page-about-hover .ellipse-12-iPe1yZ {
  --z-index: 9;
  background-color: transparent;
  background-image: url(../img/ellipse-12-1@2x.svg);
  background-size: 100% 100%;
  height: 58px;
  left: 501px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 127px;
  width: 62px;
}

.home-page-about-hover .ellipse-15-iPe1yZ {
  --z-index: 10;
  background-color: transparent;
  background-image: url(../img/ellipse-15-2@2x.svg);
  background-size: 100% 100%;
  height: 58px;
  left: 1049px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 49px;
  width: 62px;
}

.home-page-about-hover .group-CMvW9s {
  --z-index: 11;
  background-color: transparent;
  background-image: url(../img/group-4@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 1043px;
  opacity: 1;
  position: absolute;
  top: 300px;
  width: 50px;
}

.home-page-about-hover .ellipse-8-iPe1yZ {
  --z-index: 12;
  background-color: transparent;
  background-image: url(../img/ellipse-8-3@2x.svg);
  background-size: 100% 100%;
  height: 137px;
  left: 131px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 154px;
}

.home-page-about-hover .ellipse-10-iPe1yZ {
  --z-index: 13;
  background-color: transparent;
  background-image: url(../img/ellipse-10-3@2x.svg);
  background-size: 100% 100%;
  height: 132px;
  left: 1450px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 24px;
  width: 154px;
}

.home-page-about-hover .union-CMvW9s {
  --z-index: 14;
  background-color: transparent;
  background-image: url(../img/union-11@1x.svg);
  background-size: 100% 100%;
  height: 423px;
  left: 1179px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 657px;
}

.home-page-about-hover .vector-iPe1yZ {
  --z-index: 15;
  background-color: transparent;
  background-image: url(../img/vector-1@2x.svg);
  background-size: 100% 100%;
  height: 64px;
  left: 928px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 290px;
  width: 64px;
}

.home-page-about-hover .socials-iPe1yZ {
  --z-index: 16;
  background-color: transparent;
  color: #00c1ff;
  font-family: 'Bevan', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 910px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 228px;
  width: 128px;
}

.home-page-about-hover .ellipse-15-CMvW9s {
  --z-index: 17;
  background-color: transparent;
  background-image: url(../img/ellipse-15-3@2x.svg);
  background-size: 100% 100%;
  height: 239px;
  left: 6px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 308px;
  width: 250px;
}

.home-page-about-hover .case-studies-C61RwL {
  --z-index: 4;
  background-color: transparent;
  height: 990px;
  left: 46px;
  opacity: 1;
  position: absolute;
  top: 675px;
  width: 1330px;
}

.home-page-about-hover .vai-bin-button-omKYq3 {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/vai-bin-button-1@1x.svg);
  background-size: 100% 100%;
  height: 311px;
  left: -9px;
  opacity: 1;
  position: absolute;
  top: 105px;
  width: 1346px;
}

.home-page-about-hover .syte-button-omKYq3 {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/syte-button-1@1x.svg);
  background-size: 100% 100%;
  height: 296px;
  left: -8px;
  opacity: 1;
  position: absolute;
  top: 415px;
  width: 1345px;
}

.home-page-about-hover .nws-button-omKYq3 {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/nws-button-1@1x.svg);
  background-size: 100% 100%;
  height: 296px;
  left: -8px;
  opacity: 1;
  position: absolute;
  top: 710px;
  width: 1345px;
}

.home-page-about-hover .designs-omKYq3 {
  --z-index: 3;
  background-color: transparent;
  color: #000000;
  font-family: 'Lemonada', Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 573px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 240px;
}

.home-page-about-hover .vai-bin-logo-C61RwL {
  --z-index: 5;
  background-color: transparent;
  height: 275px;
  left: 121px;
  opacity: 1;
  position: absolute;
  top: 790px;
  width: 269px;
}

.home-page-about-hover .image-iZBfwA {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/-----image-1@2x.png);
  background-size: 100% 100%;
  height: 284px;
  left: -4px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 276px;
}

.home-page-about-hover .running-man-bag-9504127-1-iZBfwA {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/running-man-bag-9504127-1@2x.png);
  background-size: 100% 100%;
  height: 239px;
  left: 18px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 18px;
  width: 232px;
}

.home-page-about-hover .vai-bin-iZBfwA {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/vai-bin-1@2x.svg);
  background-size: 100% 100%;
  height: 58px;
  left: 7px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 153px;
  width: 254px;
}

.home-page-about-hover .logo-C61RwL {
  --z-index: 6;
  background-color: transparent;
  height: 87px;
  left: 159px;
  opacity: 1;
  position: absolute;
  top: 38px;
  width: 41px;
}

.home-page-about-hover .ellipse-28-exFKkL {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/ellipse-28-1@2x.svg);
  background-size: 100% 100%;
  height: 14px;
  left: 1px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 10px;
  width: 37px;
}

.home-page-about-hover .ellipse-29-exFKkL {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/ellipse-29-1@2x.svg);
  background-size: 100% 100%;
  height: 14px;
  left: 3px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 10px;
  width: 37px;
}

.home-page-about-hover .union-exFKkL {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/union-12@2x.svg);
  background-size: 100% 100%;
  height: 87px;
  left: 8px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 27px;
}

.home-page-about-hover .union-gsodaU {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/union-13@2x.svg);
  background-size: 100% 100%;
  height: 3px;
  left: 14px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 2px;
  width: 3px;
}

.home-page-about-hover .ellipse-30-exFKkL {
  --z-index: 4;
  background-color: transparent;
  background-image: url(../img/ellipse-30-1@2x.svg);
  background-size: 100% 100%;
  height: 167px;
  left: -32px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -41px;
  width: 193px;
}

.home-page-about-hover .ellipse-31-exFKkL {
  --z-index: 5;
  background-color: transparent;
  background-image: url(../img/ellipse-31-1@2x.svg);
  background-size: 100% 100%;
  height: 169px;
  left: -30px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -43px;
  width: 192px;
}
/* screen - about-me-page */

.about-me-page {
  background-color: #ffffff;
  height: 2761px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.about-me-page .header-C61RwL {
  --z-index: 0;
  background-color: transparent;
  height: 762px;
  left: -234px;
  opacity: 1;
  position: absolute;
  top: -79px;
  width: 1921px;
}

.about-me-page .rectangle-47-IcPKRJ {
  --z-index: 0;
  background-color: #000000;
  height: 692px;
  left: 221px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 70px;
  width: 1489px;
}

.about-me-page .ellipse-10-IcPKRJ {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/ellipse-10@2x.svg);
  background-size: 100% 100%;
  height: 132px;
  left: 1189px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 556px;
  width: 154px;
}

.about-me-page .ellipse-13-IcPKRJ {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/ellipse-13@2x.svg);
  background-size: 100% 100%;
  height: 29px;
  left: 932px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 638px;
  width: 33px;
}

.about-me-page .hellomy-name-is-randal-IcPKRJ {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/hello--my-name-is-randal-@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 1235px;
  opacity: 1;
  position: absolute;
  top: 295px;
  width: 1px;
}

.about-me-page .ellipse-7-IcPKRJ {
  --z-index: 4;
  background-color: transparent;
  background-image: url(../img/ellipse-7@2x.svg);
  background-size: 100% 100%;
  height: 58px;
  left: 802px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 137px;
  width: 62px;
}

.about-me-page .ellipse-9-IcPKRJ {
  --z-index: 5;
  background-color: transparent;
  background-image: url(../img/ellipse-9@2x.svg);
  background-size: 100% 100%;
  height: 90px;
  left: 651px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 558px;
  width: 98px;
}

.about-me-page .ellipse-11-IcPKRJ {
  --z-index: 6;
  background-color: transparent;
  background-image: url(../img/ellipse-11@2x.svg);
  background-size: 100% 100%;
  height: 46px;
  left: 1389px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 102px;
  width: 46px;
}

.about-me-page .ellipse-16-IcPKRJ {
  --z-index: 7;
  background-color: transparent;
  background-image: url(../img/ellipse-16@2x.svg);
  background-size: 100% 100%;
  height: 46px;
  left: 903px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 653px;
  width: 46px;
}

.about-me-page .union-IcPKRJ {
  --z-index: 8;
  background-color: transparent;
  background-image: url(../img/union-14@1x.svg);
  background-size: 100% 100%;
  height: 603px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 142px;
  width: 422px;
}

.about-me-page .union-wRlxz0 {
  --z-index: 9;
  background-color: transparent;
  background-image: url(../img/union-15@1x.svg);
  background-size: 100% 100%;
  height: 606px;
  left: 421px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 93px;
  width: 1486px;
}

.about-me-page .avatar-IcPKRJ {
  --z-index: 10;
  background-color: transparent;
  height: 308px;
  left: 286px;
  opacity: 1;
  position: absolute;
  top: 279px;
  width: 519px;
}

.about-me-page .rectangle-17-MgItu4 {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/rectangle-17@2x.svg);
  background-size: 100% 100%;
  height: 309px;
  left: 227px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 250px;
}

.about-me-page .rectangle-18-MgItu4 {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/rectangle-18-2@2x.svg);
  background-size: 100% 100%;
  height: 71px;
  left: 144px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 174px;
  width: 73px;
}

.about-me-page .union-MgItu4 {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/union-16@2x.svg);
  background-size: 100% 100%;
  height: 123px;
  left: 161px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 185px;
  width: 362px;
}

.about-me-page .rectangle-9-MgItu4 {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/rectangle-9-2@2x.svg);
  background-size: 100% 100%;
  height: 30px;
  left: 269px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 155px;
  width: 80px;
}

.about-me-page .rectangle-12-MgItu4 {
  --z-index: 4;
  background-color: transparent;
  background-image: url(../img/rectangle-12-2@2x.svg);
  background-size: 100% 100%;
  height: 31px;
  left: 358px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 155px;
  width: 87px;
}

.about-me-page .rectangle-4-MgItu4 {
  --z-index: 5;
  background-color: #141414;
  border-radius: 45px;
  height: 89px;
  left: 285px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 30px;
  transform: rotate(171.12deg);
  width: 32px;
}

.about-me-page .rectangle-14-MgItu4 {
  --z-index: 6;
  background-color: #141414;
  border-radius: 45px;
  height: 89px;
  left: 393px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 30px;
  transform: rotate(-172.00deg);
  width: 32px;
}

.about-me-page .rectangle-1-MgItu4 {
  --z-index: 7;
  background-color: #ffffff;
  height: 32px;
  left: 310px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 59px;
  transform: rotate(-9.14deg);
  width: 3px;
}

.about-me-page .rectangle-15-MgItu4 {
  --z-index: 8;
  background-color: #ffffff;
  height: 32px;
  left: 419px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 59px;
  transform: rotate(9.58deg);
  width: 3px;
}

.about-me-page .rectangle-5-MgItu4 {
  --z-index: 9;
  background-color: #8d8c8c;
  height: 35px;
  left: 351px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 122px;
  transform: rotate(-89.92deg);
  width: 5px;
}

.about-me-page .rectangle-6-MgItu4 {
  --z-index: 10;
  background-color: transparent;
  background-image: url(../img/rectangle-6-2@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 331px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 192px;
  width: 46px;
}

.about-me-page .ellipse-2-MgItu4 {
  --z-index: 11;
  background-color: #ffffff;
  border-radius: 3.23px/6.82px;
  height: 14px;
  left: 420px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 41px;
  transform: rotate(6.97deg);
  width: 6px;
}

.about-me-page .ellipse-1-MgItu4 {
  --z-index: 12;
  background-color: #ffffff;
  border-radius: 3.26px/6.76px;
  height: 14px;
  left: 303px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 41px;
  transform: rotate(-20.18deg);
  width: 7px;
}

.about-me-page .x12-1-MgItu4 {
  --z-index: 13;
  background-color: transparent;
  background-image: url(../img/12-1@2x.png);
  background-size: 100% 100%;
  height: 214px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  width: 236px;
}

.about-me-page .ellipse-8-IcPKRJ {
  --z-index: 11;
  background-color: transparent;
  background-image: url(../img/ellipse-8@2x.svg);
  background-size: 100% 100%;
  height: 137px;
  left: 1031px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 154px;
}

.about-me-page .randal-reiner-IcPKRJ {
  --z-index: 12;
  background-color: transparent;
  background-image: url(../img/randal-reiner@2x.svg);
  background-size: 100% 100%;
  height: 33px;
  left: 485px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 118px;
  width: 219px;
}

.about-me-page .work-IcPKRJ {
  --z-index: 13;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Lemonada', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1158px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 110px;
  width: 102px;
}

.about-me-page .place-IcPKRJ {
  --z-index: 14;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Lemonada', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1389px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 110px;
  width: 145px;
}

.about-me-page .art-IcPKRJ {
  --z-index: 15;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Lemonada', Helvetica;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1542px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 109px;
  width: 63px;
}

.about-me-page .resume-button-IcPKRJ {
  --z-index: 16;
  background-color: transparent;
  height: 64px;
  left: 1428px;
  opacity: 1;
  position: absolute;
  top: 610px;
  width: 150px;
}

.about-me-page .rectangle-40-qvYB7v {
  --z-index: 0;
  background-color: #00c1ff;
  border-radius: 72px;
  height: 64px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 148px;
}

.about-me-page .resume-qvYB7v {
  --z-index: 1;
  background-color: transparent;
  color: #000000;
  font-family: 'Nunito', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 15px;
  width: 100px;
}

.about-me-page .socials-IcPKRJ {
  --z-index: 17;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Nunito', Helvetica;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 408px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 616px;
  width: 83px;
}

.about-me-page .vector-IcPKRJ {
  --z-index: 18;
  background-color: transparent;
  background-image: url(../img/vector@2x.svg);
  background-size: 100% 100%;
  height: 64px;
  left: 295px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 661px;
  width: 64px;
}

.about-me-page .group-IcPKRJ {
  --z-index: 19;
  background-color: transparent;
  background-image: url(../img/group-9@2x.svg);
  background-size: 100% 100%;
  height: 65px;
  left: 408px;
  opacity: 1;
  position: absolute;
  top: 656px;
  width: 63px;
}

.about-me-page .group-wRlxz0 {
  --z-index: 20;
  background-color: transparent;
  background-image: url(../img/group-2@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 521px;
  opacity: 1;
  position: absolute;
  top: 673px;
  width: 50px;
}

.about-me-page .about-randal-C61RwL {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/about-randal-@2x.svg);
  background-size: 100% 100%;
  height: 43px;
  left: 653px;
  opacity: 1;
  position: absolute;
  top: 288px;
  width: 431px;
}

.about-me-page .footer-C61RwL {
  --z-index: 2;
  background-color: transparent;
  height: 554px;
  left: -187px;
  opacity: 1;
  position: absolute;
  top: 2355px;
  width: 1847px;
}

.about-me-page .rectangle-35-iPe1yZ {
  --z-index: 0;
  background-color: #000000;
  height: 409px;
  left: 183px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.about-me-page .group-iPe1yZ {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/group-11@2x.svg);
  background-size: 100% 100%;
  height: 65px;
  left: 808px;
  opacity: 1;
  position: absolute;
  top: 290px;
  width: 63px;
}

.about-me-page .ellipse-11-iPe1yZ {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/ellipse-11-1@2x.svg);
  background-size: 100% 100%;
  height: 90px;
  left: 1043px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 368px;
  width: 98px;
}

.about-me-page .ellipse-14-iPe1yZ {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/ellipse-14@2x.svg);
  background-size: 100% 100%;
  height: 90px;
  left: 1062px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 3px;
  width: 98px;
}

.about-me-page .union-iPe1yZ {
  --z-index: 4;
  background-color: transparent;
  background-image: url(../img/union-3@1x.svg);
  background-size: 100% 100%;
  height: 423px;
  left: 342px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 3px;
  width: 607px;
}

.about-me-page .resume-iPe1yZ {
  --z-index: 5;
  background-color: transparent;
  color: #00c1ff;
  font-family: 'Bevan', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 343px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 113px;
  width: 148px;
}

.about-me-page .place-iPe1yZ {
  --z-index: 6;
  background-color: transparent;
  color: #00c1ff;
  font-family: 'Bevan', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 676px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 113px;
  width: 142px;
}

.about-me-page .about-iPe1yZ {
  --z-index: 7;
  background-color: transparent;
  color: #00c1ff;
  font-family: 'Bevan', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1033px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 117px;
  width: 108px;
}

.about-me-page .art-iPe1yZ {
  --z-index: 8;
  background-color: transparent;
  color: #00c1ff;
  font-family: 'Bevan', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1487px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 113px;
  width: 70px;
}

.about-me-page .ellipse-12-iPe1yZ {
  --z-index: 9;
  background-color: transparent;
  background-image: url(../img/ellipse-12@2x.svg);
  background-size: 100% 100%;
  height: 58px;
  left: 501px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 127px;
  width: 62px;
}

.about-me-page .ellipse-15-iPe1yZ {
  --z-index: 10;
  background-color: transparent;
  background-image: url(../img/ellipse-15@2x.svg);
  background-size: 100% 100%;
  height: 58px;
  left: 1049px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 49px;
  width: 62px;
}

.about-me-page .group-CMvW9s {
  --z-index: 11;
  background-color: transparent;
  background-image: url(../img/group-4@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 1043px;
  opacity: 1;
  position: absolute;
  top: 300px;
  width: 50px;
}

.about-me-page .ellipse-8-iPe1yZ {
  --z-index: 12;
  background-color: transparent;
  background-image: url(../img/ellipse-8-1@2x.svg);
  background-size: 100% 100%;
  height: 137px;
  left: 131px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 154px;
}

.about-me-page .ellipse-10-iPe1yZ {
  --z-index: 13;
  background-color: transparent;
  background-image: url(../img/ellipse-10-1@2x.svg);
  background-size: 100% 100%;
  height: 132px;
  left: 1450px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 24px;
  width: 154px;
}

.about-me-page .union-CMvW9s {
  --z-index: 14;
  background-color: transparent;
  background-image: url(../img/union-18@1x.svg);
  background-size: 100% 100%;
  height: 423px;
  left: 1179px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 657px;
}

.about-me-page .vector-iPe1yZ {
  --z-index: 15;
  background-color: transparent;
  background-image: url(../img/vector-1@2x.svg);
  background-size: 100% 100%;
  height: 64px;
  left: 928px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 290px;
  width: 64px;
}

.about-me-page .socials-iPe1yZ {
  --z-index: 16;
  background-color: transparent;
  color: #00c1ff;
  font-family: 'Bevan', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 910px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 228px;
  width: 128px;
}

.about-me-page .ellipse-15-CMvW9s {
  --z-index: 17;
  background-color: transparent;
  background-image: url(../img/ellipse-15-1@2x.svg);
  background-size: 100% 100%;
  height: 239px;
  left: 6px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 308px;
  width: 250px;
}

.about-me-page .number-iPe1yZ {
  --z-index: 18;
  background-color: transparent;
  color: #65fc57;
  font-family: 'Nunito', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 1469px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 366px;
  width: 53px;
}

.about-me-page .hii-am-randal-reine-C61RwL {
  --z-index: 3;
  background-color: transparent;
  color: #000000;
  font-family: 'Nunito', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 50px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 874px;
  width: 1340px;
}

.about-me-page .bio-C61RwL {
  --z-index: 4;
  background-color: transparent;
  background-image: url(../img/bio@2x.svg);
  background-size: 100% 100%;
  height: 45px;
  left: 654px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 786px;
  width: 90px;
}

.about-me-page .skills-C61RwL {
  --z-index: 5;
  background-color: transparent;
  background-image: url(../img/skills@2x.svg);
  background-size: 100% 100%;
  height: 45px;
  left: 618px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 1204px;
  width: 161px;
}

.about-me-page .as-a-user-researcher-C61RwL {
  --z-index: 6;
  background-color: transparent;
  color: #000000;
  font-family: 'Nunito', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 1299px;
  width: 1340px;
}

.about-me-page .tools-C61RwL {
  --z-index: 7;
  background-color: transparent;
  background-image: url(../img/tools@2x.svg);
  background-size: 100% 100%;
  height: 41px;
  left: 644px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 1658px;
  width: 150px;
}

.about-me-page .paper-and-pencil-ado-C61RwL {
  --z-index: 8;
  background-color: transparent;
  color: #000000;
  font-family: 'Nunito', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 628px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 1718px;
  width: 276px;
}

.about-me-page .group-C61RwL {
  --z-index: 9;
  background-color: transparent;
  background-image: url(../img/group-8@2x.svg);
  background-size: 100% 100%;
  height: 26px;
  left: 1250px;
  opacity: 1;
  position: absolute;
  top: 2719px;
  width: 26px;
}

.about-me-page .logo-C61RwL {
  --z-index: 10;
  background-color: transparent;
  height: 87px;
  left: 159px;
  opacity: 1;
  position: absolute;
  top: 38px;
  width: 41px;
}

.about-me-page .ellipse-28-exFKkL {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/ellipse-28-2@2x.svg);
  background-size: 100% 100%;
  height: 14px;
  left: 1px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 10px;
  width: 37px;
}

.about-me-page .ellipse-29-exFKkL {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/ellipse-29@2x.svg);
  background-size: 100% 100%;
  height: 14px;
  left: 3px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 10px;
  width: 37px;
}

.about-me-page .union-exFKkL {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/union-19@2x.svg);
  background-size: 100% 100%;
  height: 87px;
  left: 8px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 27px;
}

.about-me-page .union-gsodaU {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/union-6@2x.svg);
  background-size: 100% 100%;
  height: 3px;
  left: 14px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 2px;
  width: 3px;
}

.about-me-page .ellipse-30-exFKkL {
  --z-index: 4;
  background-color: transparent;
  background-image: url(../img/ellipse-30@2x.svg);
  background-size: 100% 100%;
  height: 167px;
  left: -32px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -41px;
  width: 193px;
}

.about-me-page .ellipse-31-exFKkL {
  --z-index: 5;
  background-color: transparent;
  background-image: url(../img/ellipse-31@2x.svg);
  background-size: 100% 100%;
  height: 169px;
  left: -30px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -43px;
  width: 192px;
}
