/* screen - home-page-contact-hover */

.home-page-contact-hover {
  background-color: #ffffff;
  height: 2122px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.home-page-contact-hover .header-C61RwL {
  --z-index: 0;
  background-color: transparent;
  height: 762px;
  left: -245px;
  opacity: 1;
  position: absolute;
  top: -87px;
  width: 1925px;
}

.home-page-contact-hover .rectangle-47-IcPKRJ {
  --z-index: 0;
  background-color: #000000;
  height: 692px;
  left: 221px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 70px;
  width: 1489px;
}

.home-page-contact-hover .ellipse-10-IcPKRJ {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/ellipse-10-6@2x.svg);
  background-size: 100% 100%;
  height: 132px;
  left: 1189px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 556px;
  width: 154px;
}

.home-page-contact-hover .ellipse-13-IcPKRJ {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/ellipse-13-3@2x.svg);
  background-size: 100% 100%;
  height: 29px;
  left: 932px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 638px;
  width: 33px;
}

.home-page-contact-hover .hellomy-name-is-randal-IcPKRJ {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/hello--my-name-is-randal--3@2x.svg);
  background-size: 100% 100%;
  height: 44px;
  left: 925px;
  opacity: 1;
  position: absolute;
  top: 273px;
  width: 621px;
}

.home-page-contact-hover .ellipse-7-IcPKRJ {
  --z-index: 4;
  background-color: transparent;
  background-image: url(../img/ellipse-7-3@2x.svg);
  background-size: 100% 100%;
  height: 58px;
  left: 802px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 137px;
  width: 62px;
}

.home-page-contact-hover .ellipse-9-IcPKRJ {
  --z-index: 5;
  background-color: transparent;
  background-image: url(../img/ellipse-9-3@2x.svg);
  background-size: 100% 100%;
  height: 90px;
  left: 651px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 558px;
  width: 98px;
}

.home-page-contact-hover .ellipse-11-IcPKRJ {
  --z-index: 6;
  background-color: transparent;
  background-image: url(../img/ellipse-11-6@2x.svg);
  background-size: 100% 100%;
  height: 46px;
  left: 1389px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 102px;
  width: 46px;
}

.home-page-contact-hover .ellipse-16-IcPKRJ {
  --z-index: 7;
  background-color: transparent;
  background-image: url(../img/ellipse-16-3@2x.svg);
  background-size: 100% 100%;
  height: 46px;
  left: 903px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 653px;
  width: 46px;
}

.home-page-contact-hover .union-IcPKRJ {
  --z-index: 8;
  background-color: transparent;
  background-image: url(../img/union-21@1x.svg);
  background-size: 100% 100%;
  height: 603px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 142px;
  width: 422px;
}

.home-page-contact-hover .union-wRlxz0 {
  --z-index: 9;
  background-color: transparent;
  background-image: url(../img/union-22@1x.svg);
  background-size: 100% 100%;
  height: 606px;
  left: 421px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 93px;
  width: 1486px;
}

.home-page-contact-hover .avatar-IcPKRJ {
  --z-index: 10;
  background-color: transparent;
  height: 308px;
  left: 286px;
  opacity: 1;
  position: absolute;
  top: 279px;
  width: 519px;
}

.home-page-contact-hover .rectangle-17-MgItu4 {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/rectangle-17-3@2x.svg);
  background-size: 100% 100%;
  height: 309px;
  left: 227px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 250px;
}

.home-page-contact-hover .rectangle-18-MgItu4 {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/rectangle-18-3@2x.svg);
  background-size: 100% 100%;
  height: 71px;
  left: 144px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 174px;
  width: 73px;
}

.home-page-contact-hover .union-MgItu4 {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/union-23@2x.svg);
  background-size: 100% 100%;
  height: 123px;
  left: 161px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 185px;
  width: 362px;
}

.home-page-contact-hover .rectangle-9-MgItu4 {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/rectangle-9-2@2x.svg);
  background-size: 100% 100%;
  height: 30px;
  left: 269px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 155px;
  width: 80px;
}

.home-page-contact-hover .rectangle-12-MgItu4 {
  --z-index: 4;
  background-color: transparent;
  background-image: url(../img/rectangle-12-2@2x.svg);
  background-size: 100% 100%;
  height: 31px;
  left: 358px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 155px;
  width: 87px;
}

.home-page-contact-hover .rectangle-4-MgItu4 {
  --z-index: 5;
  background-color: #141414;
  border-radius: 45px;
  height: 89px;
  left: 285px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 30px;
  transform: rotate(171.12deg);
  width: 32px;
}

.home-page-contact-hover .rectangle-14-MgItu4 {
  --z-index: 6;
  background-color: #141414;
  border-radius: 45px;
  height: 89px;
  left: 393px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 30px;
  transform: rotate(-172.00deg);
  width: 32px;
}

.home-page-contact-hover .rectangle-1-MgItu4 {
  --z-index: 7;
  background-color: #ffffff;
  height: 32px;
  left: 310px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 59px;
  transform: rotate(-9.14deg);
  width: 3px;
}

.home-page-contact-hover .rectangle-15-MgItu4 {
  --z-index: 8;
  background-color: #ffffff;
  height: 32px;
  left: 419px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 59px;
  transform: rotate(9.58deg);
  width: 3px;
}

.home-page-contact-hover .rectangle-5-MgItu4 {
  --z-index: 9;
  background-color: #8d8c8c;
  height: 35px;
  left: 351px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 122px;
  transform: rotate(-89.92deg);
  width: 5px;
}

.home-page-contact-hover .rectangle-6-MgItu4 {
  --z-index: 10;
  background-color: transparent;
  background-image: url(../img/rectangle-6@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 331px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 192px;
  width: 46px;
}

.home-page-contact-hover .ellipse-2-MgItu4 {
  --z-index: 11;
  background-color: #ffffff;
  border-radius: 3.23px/6.82px;
  height: 14px;
  left: 420px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 41px;
  transform: rotate(6.97deg);
  width: 6px;
}

.home-page-contact-hover .ellipse-1-MgItu4 {
  --z-index: 12;
  background-color: #ffffff;
  border-radius: 3.26px/6.76px;
  height: 14px;
  left: 303px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 41px;
  transform: rotate(-20.18deg);
  width: 7px;
}

.home-page-contact-hover .x12-1-MgItu4 {
  --z-index: 13;
  background-color: transparent;
  background-image: url(../img/12-1@2x.png);
  background-size: 100% 100%;
  height: 214px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  width: 236px;
}

.home-page-contact-hover .ellipse-8-IcPKRJ {
  --z-index: 11;
  background-color: transparent;
  background-image: url(../img/ellipse-8-6@2x.svg);
  background-size: 100% 100%;
  height: 137px;
  left: 1031px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 154px;
}

.home-page-contact-hover .randal-reiner-IcPKRJ {
  --z-index: 12;
  background-color: transparent;
  background-image: url(../img/randal-reiner-3@2x.svg);
  background-size: 100% 100%;
  cursor: pointer;
  height: 33px;
  left: 496px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 126px;
  width: 219px;
}

.home-page-contact-hover .work-IcPKRJ {
  --z-index: 13;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Lemonada', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1158px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 110px;
  width: 102px;
}

.home-page-contact-hover .about-IcPKRJ {
  --z-index: 14;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Lemonada', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1268px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 110px;
  width: 113px;
}

.home-page-contact-hover .about-wRlxz0 {
  --z-index: 15;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Bevan', Helvetica;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1132px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 195px;
  width: 113px;
}

.home-page-contact-hover .about-94d7NV {
  --z-index: 16;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Bevan', Helvetica;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 865px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 270px;
  width: 113px;
}

.home-page-contact-hover .place-IcPKRJ {
  --z-index: 17;
  background-color: transparent;
  color: #00c1ff;
  cursor: pointer;
  font-family: 'Lemonada', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1389px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 110px;
  width: 145px;
}

.home-page-contact-hover .art-IcPKRJ {
  --z-index: 18;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Lemonada', Helvetica;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1542px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 109px;
  width: 63px;
}

.home-page-contact-hover .resume-button-IcPKRJ {
  --z-index: 19;
  background-color: transparent;
  height: 64px;
  left: 1428px;
  opacity: 1;
  position: absolute;
  top: 610px;
  width: 150px;
}

.home-page-contact-hover .rectangle-40-qvYB7v {
  --z-index: 0;
  background-color: #00c1ff;
  border-radius: 72px;
  height: 64px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 148px;
}

.home-page-contact-hover .resume-qvYB7v {
  --z-index: 1;
  background-color: transparent;
  color: #000000;
  font-family: 'Nunito', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 15px;
  width: 100px;
}

.home-page-contact-hover .socials-IcPKRJ {
  --z-index: 20;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Nunito', Helvetica;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 408px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 616px;
  width: 83px;
}

.home-page-contact-hover .vector-IcPKRJ {
  --z-index: 21;
  background-color: transparent;
  background-image: url(../img/vector@2x.svg);
  background-size: 100% 100%;
  height: 64px;
  left: 295px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 661px;
  width: 64px;
}

.home-page-contact-hover .group-IcPKRJ {
  --z-index: 22;
  background-color: transparent;
  background-image: url(../img/group@2x.svg);
  background-size: 100% 100%;
  height: 65px;
  left: 408px;
  opacity: 1;
  position: absolute;
  top: 656px;
  width: 63px;
}

.home-page-contact-hover .group-wRlxz0 {
  --z-index: 23;
  background-color: transparent;
  background-image: url(../img/group-2@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 521px;
  opacity: 1;
  position: absolute;
  top: 673px;
  width: 50px;
}

.home-page-contact-hover .i-am-a-junior-uxui-C61RwL {
  --z-index: 1;
  background-color: transparent;
  color: transparent;
  font-family: 'Nunito', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 616px;
  letter-spacing: 0.00px;
  line-height: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 224px;
  width: 614px;
}

.home-page-contact-hover .span0-R7NXKC {
  color: #ffffff;
  font-style: normal;
}

.home-page-contact-hover .span1-R7NXKC {
  color: #ffffff;
  font-size: 25px;
  font-style: normal;
}

.home-page-contact-hover .span2-R7NXKC {
  color: #65fd58;
  font-size: 25px;
  font-style: normal;
}

.home-page-contact-hover .span3-R7NXKC {
  color: #65fd58;
  font-size: 35px;
  font-style: normal;
}

.home-page-contact-hover .span4-R7NXKC {
  color: #ffffff;
  font-style: normal;
}

.home-page-contact-hover .span5-R7NXKC {
  color: #65fd58;
  font-size: 35px;
  font-style: normal;
}

.home-page-contact-hover .span6-R7NXKC {
  color: #65fd58;
  font-size: 25px;
  font-style: normal;
}

.home-page-contact-hover .span7-R7NXKC {
  color: #ffffff;
  font-size: 25px;
  font-style: normal;
}

.home-page-contact-hover .span8-R7NXKC {
  color: #ffffff;
  font-style: normal;
}

.home-page-contact-hover .more-C61RwL {
  --z-index: 2;
  background-color: transparent;
  color: #0acbe0;
  font-family: 'Nunito', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 695px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 374px;
  width: 84px;
}

.home-page-contact-hover .footer-C61RwL {
  --z-index: 3;
  background-color: transparent;
  height: 554px;
  left: -184px;
  opacity: 1;
  position: absolute;
  top: 1715px;
  width: 1845px;
}

.home-page-contact-hover .rectangle-35-iPe1yZ {
  --z-index: 0;
  background-color: #000000;
  height: 409px;
  left: 183px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.home-page-contact-hover .group-iPe1yZ {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/group-2@2x.svg);
  background-size: 100% 100%;
  height: 65px;
  left: 808px;
  opacity: 1;
  position: absolute;
  top: 290px;
  width: 63px;
}

.home-page-contact-hover .ellipse-11-iPe1yZ {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/ellipse-11-7@2x.svg);
  background-size: 100% 100%;
  height: 90px;
  left: 1043px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 368px;
  width: 98px;
}

.home-page-contact-hover .ellipse-14-iPe1yZ {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/ellipse-14-3@2x.svg);
  background-size: 100% 100%;
  height: 90px;
  left: 1062px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 3px;
  width: 98px;
}

.home-page-contact-hover .union-iPe1yZ {
  --z-index: 4;
  background-color: transparent;
  background-image: url(../img/union-24@1x.svg);
  background-size: 100% 100%;
  height: 423px;
  left: 342px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 3px;
  width: 607px;
}

.home-page-contact-hover .resume-iPe1yZ {
  --z-index: 5;
  background-color: transparent;
  color: #00c1ff;
  font-family: 'Bevan', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 343px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 113px;
  width: 148px;
}

.home-page-contact-hover .place-iPe1yZ {
  --z-index: 6;
  background-color: transparent;
  color: #00c1ff;
  font-family: 'Bevan', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 676px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 113px;
  width: 142px;
}

.home-page-contact-hover .about-iPe1yZ {
  --z-index: 7;
  background-color: transparent;
  color: #00c1ff;
  font-family: 'Bevan', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1033px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 117px;
  width: 108px;
}

.home-page-contact-hover .art-iPe1yZ {
  --z-index: 8;
  background-color: transparent;
  color: #00c1ff;
  font-family: 'Bevan', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1487px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 113px;
  width: 70px;
}

.home-page-contact-hover .ellipse-12-iPe1yZ {
  --z-index: 9;
  background-color: transparent;
  background-image: url(../img/ellipse-12-3@2x.svg);
  background-size: 100% 100%;
  height: 58px;
  left: 501px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 127px;
  width: 62px;
}

.home-page-contact-hover .ellipse-15-iPe1yZ {
  --z-index: 10;
  background-color: transparent;
  background-image: url(../img/ellipse-15-6@2x.svg);
  background-size: 100% 100%;
  height: 58px;
  left: 1049px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 49px;
  width: 62px;
}

.home-page-contact-hover .group-CMvW9s {
  --z-index: 11;
  background-color: transparent;
  background-image: url(../img/group-4@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 1043px;
  opacity: 1;
  position: absolute;
  top: 300px;
  width: 50px;
}

.home-page-contact-hover .ellipse-8-iPe1yZ {
  --z-index: 12;
  background-color: transparent;
  background-image: url(../img/ellipse-8-7@2x.svg);
  background-size: 100% 100%;
  height: 137px;
  left: 131px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 154px;
}

.home-page-contact-hover .ellipse-10-iPe1yZ {
  --z-index: 13;
  background-color: transparent;
  background-image: url(../img/ellipse-10-7@2x.svg);
  background-size: 100% 100%;
  height: 132px;
  left: 1450px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 24px;
  width: 154px;
}

.home-page-contact-hover .union-CMvW9s {
  --z-index: 14;
  background-color: transparent;
  background-image: url(../img/union-25@1x.svg);
  background-size: 100% 100%;
  height: 423px;
  left: 1179px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 657px;
}

.home-page-contact-hover .vector-iPe1yZ {
  --z-index: 15;
  background-color: transparent;
  background-image: url(../img/vector-1@2x.svg);
  background-size: 100% 100%;
  height: 64px;
  left: 928px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 290px;
  width: 64px;
}

.home-page-contact-hover .socials-iPe1yZ {
  --z-index: 16;
  background-color: transparent;
  color: #00c1ff;
  font-family: 'Bevan', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 910px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 228px;
  width: 128px;
}

.home-page-contact-hover .ellipse-15-CMvW9s {
  --z-index: 17;
  background-color: transparent;
  background-image: url(../img/ellipse-15-7@2x.svg);
  background-size: 100% 100%;
  height: 239px;
  left: 6px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 308px;
  width: 250px;
}

.home-page-contact-hover .case-studies-C61RwL {
  --z-index: 4;
  background-color: transparent;
  height: 990px;
  left: 46px;
  opacity: 1;
  position: absolute;
  top: 675px;
  width: 1330px;
}

.home-page-contact-hover .vai-bin-button-omKYq3 {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/vai-bin-button-2@1x.svg);
  background-size: 100% 100%;
  height: 311px;
  left: -9px;
  opacity: 1;
  position: absolute;
  top: 105px;
  width: 1346px;
}

.home-page-contact-hover .syte-button-omKYq3 {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/syte-button-2@1x.svg);
  background-size: 100% 100%;
  height: 296px;
  left: -8px;
  opacity: 1;
  position: absolute;
  top: 415px;
  width: 1345px;
}

.home-page-contact-hover .nws-button-omKYq3 {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/nws-button-2@1x.svg);
  background-size: 100% 100%;
  height: 296px;
  left: -8px;
  opacity: 1;
  position: absolute;
  top: 710px;
  width: 1345px;
}

.home-page-contact-hover .designs-omKYq3 {
  --z-index: 3;
  background-color: transparent;
  color: #000000;
  font-family: 'Lemonada', Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 573px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 240px;
}

.home-page-contact-hover .vai-bin-logo-C61RwL {
  --z-index: 5;
  background-color: transparent;
  height: 275px;
  left: 121px;
  opacity: 1;
  position: absolute;
  top: 790px;
  width: 269px;
}

.home-page-contact-hover .image-iZBfwA {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/-----image@2x.png);
  background-size: 100% 100%;
  height: 284px;
  left: -4px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 276px;
}

.home-page-contact-hover .running-man-bag-9504127-1-iZBfwA {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/running-man-bag-9504127-1@2x.png);
  background-size: 100% 100%;
  height: 239px;
  left: 18px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 18px;
  width: 232px;
}

.home-page-contact-hover .vai-bin-iZBfwA {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/vai-bin-2@2x.svg);
  background-size: 100% 100%;
  height: 58px;
  left: 7px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 153px;
  width: 254px;
}

.home-page-contact-hover .logo-C61RwL {
  --z-index: 6;
  background-color: transparent;
  height: 87px;
  left: 159px;
  opacity: 1;
  position: absolute;
  top: 38px;
  width: 41px;
}

.home-page-contact-hover .ellipse-28-exFKkL {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/ellipse-28-3@2x.svg);
  background-size: 100% 100%;
  height: 14px;
  left: 1px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 10px;
  width: 37px;
}

.home-page-contact-hover .ellipse-29-exFKkL {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/ellipse-29-3@2x.svg);
  background-size: 100% 100%;
  height: 14px;
  left: 3px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 10px;
  width: 37px;
}

.home-page-contact-hover .union-exFKkL {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/union-26@2x.svg);
  background-size: 100% 100%;
  height: 87px;
  left: 8px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 27px;
}

.home-page-contact-hover .union-gsodaU {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/union-13@2x.svg);
  background-size: 100% 100%;
  height: 3px;
  left: 14px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 2px;
  width: 3px;
}

.home-page-contact-hover .ellipse-30-exFKkL {
  --z-index: 4;
  background-color: transparent;
  background-image: url(../img/ellipse-30-3@2x.svg);
  background-size: 100% 100%;
  height: 167px;
  left: -32px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -41px;
  width: 193px;
}

.home-page-contact-hover .ellipse-31-exFKkL {
  --z-index: 5;
  background-color: transparent;
  background-image: url(../img/ellipse-31-3@2x.svg);
  background-size: 100% 100%;
  height: 169px;
  left: -30px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -43px;
  width: 192px;
}
/* screen - contact-page */

.contact-page {
  background-color: #ffffff;
  height: 1536px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.contact-page .footer-C61RwL {
  --z-index: 0;
  background-color: transparent;
  height: 554px;
  left: -182px;
  opacity: 1;
  position: absolute;
  top: 1123px;
  width: 1845px;
}

.contact-page .rectangle-35-iPe1yZ {
  --z-index: 0;
  background-color: #000000;
  height: 409px;
  left: 183px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.contact-page .group-iPe1yZ {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/group-11@2x.svg);
  background-size: 100% 100%;
  height: 65px;
  left: 808px;
  opacity: 1;
  position: absolute;
  top: 290px;
  width: 63px;
}

.contact-page .ellipse-11-iPe1yZ {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/ellipse-11-8@2x.svg);
  background-size: 100% 100%;
  height: 90px;
  left: 1043px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 368px;
  width: 98px;
}

.contact-page .ellipse-14-iPe1yZ {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/ellipse-14-4@2x.svg);
  background-size: 100% 100%;
  height: 90px;
  left: 1062px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 3px;
  width: 98px;
}

.contact-page .union-iPe1yZ {
  --z-index: 4;
  background-color: transparent;
  background-image: url(../img/union-28@1x.svg);
  background-size: 100% 100%;
  height: 423px;
  left: 342px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 3px;
  width: 607px;
}

.contact-page .resume-iPe1yZ {
  --z-index: 5;
  background-color: transparent;
  color: #00c1ff;
  font-family: 'Bevan', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 343px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 113px;
  width: 148px;
}

.contact-page .place-iPe1yZ {
  --z-index: 6;
  background-color: transparent;
  color: #00c1ff;
  font-family: 'Bevan', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 676px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 113px;
  width: 142px;
}

.contact-page .about-iPe1yZ {
  --z-index: 7;
  background-color: transparent;
  color: #00c1ff;
  font-family: 'Bevan', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1033px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 117px;
  width: 108px;
}

.contact-page .art-iPe1yZ {
  --z-index: 8;
  background-color: transparent;
  color: #00c1ff;
  font-family: 'Bevan', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1487px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 113px;
  width: 70px;
}

.contact-page .ellipse-12-iPe1yZ {
  --z-index: 9;
  background-color: transparent;
  background-image: url(../img/ellipse-12-4@2x.svg);
  background-size: 100% 100%;
  height: 58px;
  left: 501px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 127px;
  width: 62px;
}

.contact-page .ellipse-15-iPe1yZ {
  --z-index: 10;
  background-color: transparent;
  background-image: url(../img/ellipse-15-8@2x.svg);
  background-size: 100% 100%;
  height: 58px;
  left: 1049px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 49px;
  width: 62px;
}

.contact-page .group-CMvW9s {
  --z-index: 11;
  background-color: transparent;
  background-image: url(../img/group-4@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 1043px;
  opacity: 1;
  position: absolute;
  top: 300px;
  width: 50px;
}

.contact-page .ellipse-8-iPe1yZ {
  --z-index: 12;
  background-color: transparent;
  background-image: url(../img/ellipse-8-8@2x.svg);
  background-size: 100% 100%;
  height: 137px;
  left: 131px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 154px;
}

.contact-page .ellipse-10-iPe1yZ {
  --z-index: 13;
  background-color: transparent;
  background-image: url(../img/ellipse-10-8@2x.svg);
  background-size: 100% 100%;
  height: 132px;
  left: 1450px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 24px;
  width: 154px;
}

.contact-page .union-CMvW9s {
  --z-index: 14;
  background-color: transparent;
  background-image: url(../img/union-29@1x.svg);
  background-size: 100% 100%;
  height: 423px;
  left: 1179px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 657px;
}

.contact-page .vector-iPe1yZ {
  --z-index: 15;
  background-color: transparent;
  background-image: url(../img/vector-1@2x.svg);
  background-size: 100% 100%;
  height: 64px;
  left: 928px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 290px;
  width: 64px;
}

.contact-page .socials-iPe1yZ {
  --z-index: 16;
  background-color: transparent;
  color: #00c1ff;
  font-family: 'Bevan', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 910px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 228px;
  width: 128px;
}

.contact-page .ellipse-15-CMvW9s {
  --z-index: 17;
  background-color: transparent;
  background-image: url(../img/ellipse-15-9@2x.svg);
  background-size: 100% 100%;
  height: 239px;
  left: 6px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 308px;
  width: 250px;
}

.contact-page .header-C61RwL {
  --z-index: 1;
  background-color: transparent;
  height: 762px;
  left: -234px;
  opacity: 1;
  position: absolute;
  top: -84px;
  width: 1929px;
}

.contact-page .rectangle-47-IcPKRJ {
  --z-index: 0;
  background-color: #000000;
  height: 692px;
  left: 221px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 70px;
  width: 1489px;
}

.contact-page .ellipse-10-IcPKRJ {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/ellipse-10-9@2x.svg);
  background-size: 100% 100%;
  height: 132px;
  left: 1189px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 556px;
  width: 154px;
}

.contact-page .ellipse-13-IcPKRJ {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/ellipse-13-4@2x.svg);
  background-size: 100% 100%;
  height: 29px;
  left: 932px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 638px;
  width: 33px;
}

.contact-page .hellomy-name-is-randal-IcPKRJ {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/hello--my-name-is-randal-@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 1235px;
  opacity: 1;
  position: absolute;
  top: 295px;
  width: 1px;
}

.contact-page .ellipse-7-IcPKRJ {
  --z-index: 4;
  background-color: transparent;
  background-image: url(../img/ellipse-7-4@2x.svg);
  background-size: 100% 100%;
  height: 58px;
  left: 802px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 137px;
  width: 62px;
}

.contact-page .ellipse-9-IcPKRJ {
  --z-index: 5;
  background-color: transparent;
  background-image: url(../img/ellipse-9-4@2x.svg);
  background-size: 100% 100%;
  height: 90px;
  left: 651px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 558px;
  width: 98px;
}

.contact-page .ellipse-11-IcPKRJ {
  --z-index: 6;
  background-color: transparent;
  background-image: url(../img/ellipse-11-9@2x.svg);
  background-size: 100% 100%;
  height: 46px;
  left: 1389px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 102px;
  width: 46px;
}

.contact-page .ellipse-16-IcPKRJ {
  --z-index: 7;
  background-color: transparent;
  background-image: url(../img/ellipse-16-4@2x.svg);
  background-size: 100% 100%;
  height: 46px;
  left: 903px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 653px;
  width: 46px;
}

.contact-page .union-IcPKRJ {
  --z-index: 8;
  background-color: transparent;
  background-image: url(../img/union-30@1x.svg);
  background-size: 100% 100%;
  height: 603px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 142px;
  width: 422px;
}

.contact-page .union-wRlxz0 {
  --z-index: 9;
  background-color: transparent;
  background-image: url(../img/union-31@1x.svg);
  background-size: 100% 100%;
  height: 606px;
  left: 421px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 93px;
  width: 1486px;
}

.contact-page .avatar-IcPKRJ {
  --z-index: 10;
  background-color: transparent;
  height: 308px;
  left: 286px;
  opacity: 1;
  position: absolute;
  top: 279px;
  width: 519px;
}

.contact-page .rectangle-17-MgItu4 {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/rectangle-17-4@2x.svg);
  background-size: 100% 100%;
  height: 309px;
  left: 227px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 250px;
}

.contact-page .rectangle-18-MgItu4 {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/rectangle-18-4@2x.svg);
  background-size: 100% 100%;
  height: 71px;
  left: 144px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 174px;
  width: 73px;
}

.contact-page .union-MgItu4 {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/union-32@2x.svg);
  background-size: 100% 100%;
  height: 123px;
  left: 161px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 185px;
  width: 362px;
}

.contact-page .rectangle-9-MgItu4 {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/rectangle-9-2@2x.svg);
  background-size: 100% 100%;
  height: 30px;
  left: 269px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 155px;
  width: 80px;
}

.contact-page .rectangle-12-MgItu4 {
  --z-index: 4;
  background-color: transparent;
  background-image: url(../img/rectangle-12@2x.svg);
  background-size: 100% 100%;
  height: 31px;
  left: 358px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 155px;
  width: 87px;
}

.contact-page .rectangle-4-MgItu4 {
  --z-index: 5;
  background-color: #141414;
  border-radius: 45px;
  height: 89px;
  left: 285px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 30px;
  transform: rotate(171.12deg);
  width: 32px;
}

.contact-page .rectangle-14-MgItu4 {
  --z-index: 6;
  background-color: #141414;
  border-radius: 45px;
  height: 89px;
  left: 393px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 30px;
  transform: rotate(-172.00deg);
  width: 32px;
}

.contact-page .rectangle-1-MgItu4 {
  --z-index: 7;
  background-color: #ffffff;
  height: 32px;
  left: 310px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 59px;
  transform: rotate(-9.14deg);
  width: 3px;
}

.contact-page .rectangle-15-MgItu4 {
  --z-index: 8;
  background-color: #ffffff;
  height: 32px;
  left: 419px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 59px;
  transform: rotate(9.58deg);
  width: 3px;
}

.contact-page .rectangle-5-MgItu4 {
  --z-index: 9;
  background-color: #8d8c8c;
  height: 35px;
  left: 351px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 122px;
  transform: rotate(-89.92deg);
  width: 5px;
}

.contact-page .rectangle-6-MgItu4 {
  --z-index: 10;
  background-color: transparent;
  background-image: url(../img/rectangle-6-2@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 331px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 192px;
  width: 46px;
}

.contact-page .ellipse-2-MgItu4 {
  --z-index: 11;
  background-color: #ffffff;
  border-radius: 3.23px/6.82px;
  height: 14px;
  left: 420px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 41px;
  transform: rotate(6.97deg);
  width: 6px;
}

.contact-page .ellipse-1-MgItu4 {
  --z-index: 12;
  background-color: #ffffff;
  border-radius: 3.26px/6.76px;
  height: 14px;
  left: 303px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 41px;
  transform: rotate(-20.18deg);
  width: 7px;
}

.contact-page .x12-1-MgItu4 {
  --z-index: 13;
  background-color: transparent;
  background-image: url(../img/12-1@2x.png);
  background-size: 100% 100%;
  height: 214px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  width: 236px;
}

.contact-page .ellipse-8-IcPKRJ {
  --z-index: 11;
  background-color: transparent;
  background-image: url(../img/ellipse-8-9@2x.svg);
  background-size: 100% 100%;
  height: 137px;
  left: 1031px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 154px;
}

.contact-page .randal-reiner-IcPKRJ {
  --z-index: 12;
  background-color: transparent;
  background-image: url(../img/randal-reiner-4@2x.svg);
  background-size: 100% 100%;
  cursor: pointer;
  height: 33px;
  left: 485px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 122px;
  width: 219px;
}

.contact-page .work-IcPKRJ {
  --z-index: 13;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Lemonada', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1158px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 110px;
  width: 102px;
}

.contact-page .about-IcPKRJ {
  --z-index: 14;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Lemonada', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1268px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 110px;
  width: 113px;
}

.contact-page .about-wRlxz0 {
  --z-index: 15;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Bevan', Helvetica;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1132px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 195px;
  width: 113px;
}

.contact-page .about-94d7NV {
  --z-index: 16;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Bevan', Helvetica;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 865px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 270px;
  width: 113px;
}

.contact-page .place-IcPKRJ {
  --z-index: 17;
  background-color: transparent;
  color: #00c1ff;
  font-family: 'Lemonada', Helvetica;
  font-size: 62px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 905px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 302px;
  width: 370px;
}

.contact-page .art-IcPKRJ {
  --z-index: 18;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Lemonada', Helvetica;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1542px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 109px;
  width: 63px;
}

.contact-page .resume-button-IcPKRJ {
  --z-index: 19;
  background-color: transparent;
  height: 64px;
  left: 1428px;
  opacity: 1;
  position: absolute;
  top: 610px;
  width: 150px;
}

.contact-page .rectangle-40-qvYB7v {
  --z-index: 0;
  background-color: #00c1ff;
  border-radius: 72px;
  height: 64px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 148px;
}

.contact-page .resume-qvYB7v {
  --z-index: 1;
  background-color: transparent;
  color: #000000;
  font-family: 'Nunito', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 15px;
  width: 100px;
}

.contact-page .socials-IcPKRJ {
  --z-index: 20;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Nunito', Helvetica;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 408px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 616px;
  width: 83px;
}

.contact-page .vector-IcPKRJ {
  --z-index: 21;
  background-color: transparent;
  background-image: url(../img/hello--my-name-is-randal-@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 327px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 687px;
  width: 1px;
}

.contact-page .group-IcPKRJ {
  --z-index: 22;
  background-color: transparent;
  background-image: url(../img/group@2x.png);
  background-size: 100% 100%;
  height: 64px;
  left: 408px;
  opacity: 1;
  position: absolute;
  top: 650px;
  width: 62px;
}

.contact-page .group-wRlxz0 {
  --z-index: 23;
  background-color: transparent;
  background-image: url(../img/group-22@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 521px;
  opacity: 1;
  position: absolute;
  top: 667px;
  width: 50px;
}

.contact-page .more-IcPKRJ {
  --z-index: 24;
  background-color: transparent;
  color: #0acbe0;
  font-family: 'Nunito', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 940px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 461px;
  width: 84px;
}

.contact-page .i-am-a-junior-uxui-IcPKRJ {
  --z-index: 25;
  background-color: transparent;
  color: transparent;
  font-family: 'Nunito', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 861px;
  letter-spacing: 0.00px;
  line-height: normal;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 311px;
  width: 614px;
}

.contact-page .span0-Hjjoqq {
  color: #ffffff;
  font-style: normal;
}

.contact-page .span1-Hjjoqq {
  color: #ffffff;
  font-size: 25px;
  font-style: normal;
}

.contact-page .span2-Hjjoqq {
  color: #65fd58;
  font-size: 25px;
  font-style: normal;
}

.contact-page .span3-Hjjoqq {
  color: #65fd58;
  font-size: 35px;
  font-style: normal;
}

.contact-page .span4-Hjjoqq {
  color: #ffffff;
  font-style: normal;
}

.contact-page .span5-Hjjoqq {
  color: #65fd58;
  font-size: 35px;
  font-style: normal;
}

.contact-page .span6-Hjjoqq {
  color: #65fd58;
  font-size: 25px;
  font-style: normal;
}

.contact-page .span7-Hjjoqq {
  color: #ffffff;
  font-size: 25px;
  font-style: normal;
}

.contact-page .span8-Hjjoqq {
  color: #ffffff;
  font-style: normal;
}

.contact-page .group-C61RwL {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/group-17@2x.svg);
  background-size: 100% 100%;
  height: 87px;
  left: 577px;
  opacity: 1;
  position: absolute;
  top: 974px;
  width: 94px;
}

.contact-page .group-VMr6Om {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/group-18@2x.svg);
  background-size: 100% 100%;
  height: 74px;
  left: 119px;
  opacity: 1;
  position: absolute;
  top: 756px;
  width: 98px;
}

.contact-page .vector-C61RwL {
  --z-index: 4;
  background-color: transparent;
  background-image: url(../img/vector-8@2x.svg);
  background-size: 100% 100%;
  height: 88px;
  left: 800px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 973px;
  width: 94px;
}

.contact-page .socials-C61RwL {
  --z-index: 5;
  background-color: transparent;
  color: #0a0a0a;
  font-family: 'Lemonada-SemiBold', Helvetica;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 644px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 881px;
  width: 198px;
}

.contact-page .email-randalr62gmailcom-C61RwL {
  --z-index: 6;
  background-color: transparent;
  color: #000000;
  font-family: 'Nunito-ExtraBold', Helvetica;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  height: auto;
  left: 235px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 753px;
  width: 371px;
}

.contact-page .span0-bRcgpJ {
  font-style: normal;
}

.contact-page .span1-bRcgpJ {
  font-size: 30px;
  font-style: normal;
}

.contact-page .phone-210-649-0520-C61RwL {
  --z-index: 7;
  background-color: transparent;
  color: #000000;
  font-family: 'Nunito-ExtraBold', Helvetica;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  height: auto;
  left: 914px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 753px;
  width: 252px;
}

.contact-page .span0-suM18j {
  font-style: normal;
}

.contact-page .span1-suM18j {
  font-size: 30px;
  font-style: normal;
}

.contact-page .vector-VMr6Om {
  --z-index: 8;
  background-color: transparent;
  background-image: url(../img/vector-9@2x.svg);
  background-size: 100% 100%;
  height: 98px;
  left: 800px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 741px;
  width: 94px;
}

.contact-page .contact-me-C61RwL {
  --z-index: 9;
  background-color: transparent;
  background-image: url(../img/contact-me@2x.svg);
  background-size: 100% 100%;
  height: 48px;
  left: 698px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 226px;
  width: 401px;
}

.contact-page .id-love-to-hear-from-you-C61RwL {
  --z-index: 10;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Nunito', Helvetica;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 732px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 335px;
  width: auto;
}

.contact-page .logo-C61RwL {
  --z-index: 11;
  background-color: transparent;
  height: 87px;
  left: 159px;
  opacity: 1;
  position: absolute;
  top: 38px;
  width: 41px;
}

.contact-page .ellipse-28-exFKkL {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/ellipse-28-4@2x.svg);
  background-size: 100% 100%;
  height: 14px;
  left: 1px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 10px;
  width: 37px;
}

.contact-page .ellipse-29-exFKkL {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/ellipse-29-4@2x.svg);
  background-size: 100% 100%;
  height: 14px;
  left: 3px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 10px;
  width: 37px;
}

.contact-page .union-exFKkL {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/union-33@2x.svg);
  background-size: 100% 100%;
  height: 87px;
  left: 8px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 27px;
}

.contact-page .union-gsodaU {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/union-34@2x.svg);
  background-size: 100% 100%;
  height: 3px;
  left: 14px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 2px;
  width: 3px;
}

.contact-page .ellipse-30-exFKkL {
  --z-index: 4;
  background-color: transparent;
  background-image: url(../img/ellipse-30-4@2x.svg);
  background-size: 100% 100%;
  height: 167px;
  left: -32px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -41px;
  width: 193px;
}

.contact-page .ellipse-31-exFKkL {
  --z-index: 5;
  background-color: transparent;
  background-image: url(../img/ellipse-31-4@2x.svg);
  background-size: 100% 100%;
  height: 169px;
  left: -30px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -43px;
  width: 192px;
}
