:root { 
  --black: #000000;
  --robins-egg-blue: #00c1ff;
  --white: #ffffff;
 
  --font-size-l: 30px;
  --font-size-m: 25px;
  --font-size-s: 21px;
  --font-size-xl: 31px;
  --font-size-xs: 18px;
 
  --font-family-bevan: "Bevan", Helvetica;
  --font-family-lemonada: "Lemonada", Helvetica;
  --font-family-nunito: "Nunito", Helvetica;
}
.bevan-normal-robins-egg-blue-30px {
  color: var(--robins-egg-blue);
  font-family: var(--font-family-bevan);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.nunito-normal-black-25px {
  color: var(--black);
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
