:root { 
  --black: #000000;
  --robins-egg-blue: #00c1ff;
  --screamin-green: #65fd58;
  --white: #ffffff;
 
  --font-size-l: 21px;
  --font-size-m: 20px;
  --font-size-s: 18px;
  --font-size-xl: 25px;
  --font-size-xxl: 30px;
  --font-size-xxxl: 31px;
  --font-size-xxxxl: 48px;
 
  --font-family-bevan: "Bevan", Helvetica;
  --font-family-lemonada: "Lemonada", Helvetica;
  --font-family-nunito: "Nunito", Helvetica;
}
.bevan-normal-robins-egg-blue-30px {
  color: var(--robins-egg-blue);
  font-family: var(--font-family-bevan);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.lemonada-normal-white-30px {
  color: var(--white);
  font-family: var(--font-family-lemonada);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.nunito-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
